# files

*.html
*.png
*.jpg
*.o
*.out
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.toc
*.swp

!foto.png

# archives

*.zip
*.tar


## directories

**/libpqxx/
**/airlines/
**/airports/
**/flights/
**/__pycache__/
**/.idea/
**/assets/
**/build/
**/imgui/
**/imgui-sfml/
**/sol2/
**/cmake-build-debug/
