# files

*.html
*.png
*.jpg
*.o
*.out
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.toc
*.swp
*.xml
*.pyc
*.meta
*.index
*.data-00000-of-00001
*.p

!foto.png
!/Thesis%20-%20Autonomous%20Car%20Chasing/Autonomous_Car_Chasing.pdf
!CARLA_camera_view.png
!CARLA_top_view.png
!ChasingDiagram.png
!drone_shot_2.4.3-optimized.png
!drone_shot_2.4.2-optimized.png
!inside.jpg
!segmented_image.png
!YOLO.png

# archives

*.zip
*.tar


## directories

**/libpqxx/
**/airlines/
**/airports/
**/flights/
**/__pycache__/
**/.idea/
**/assets/
**/build/
**/imgui/
**/imgui-sfml/
**/sol2/
**/cmake-build-debug/
**/.idea/
